body {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: orange;
    color: white;
}

/* Login */
#mainLogin {
    border: 1px solid black;
    background-color: blue;
    width: 960px;
    margin: auto;
    min-height: 641px;
}

#mainLogin img#logo {
    display: block;
    margin: auto;
}


#mainLogin h1,
#mainLogin h2,
#mainLogin h3 {
    text-align: center;   
}

#mainLogin input[type="text"],
#mainLogin input[type="password"] {
    display: block;    
    border: 1px solid rgb(170, 170, 170);
    width: 292px;
    margin-bottom: 10px;
    /* round corners */
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-opera-border-radius: 3px;
	-khtml-border-radius: 3px;
    padding: 3px;
    border-radius: 3px; 
}

#mainLogin #innerLogin {
    padding: 0 10px;
    border: 1px solid Gray;
    width: 300px;
    margin: auto;    
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-opera-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

/* Main Page */
#main h3 {
	margin: 15px;
	color: blue;
}

#map {
	width: 100%;
	height: 667px;
	border-top: 1px outset black;
}